.products__grid {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem; 
}

.product__img {
  border-radius: 19px;
  border-style: solid;
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: $mainTransition;
}

.product__items{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &--row{
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding:0.8rem;
  
    h4{
      position: relative;
      right:0px;
      margin-left:30px;
  }}
}


.button__grid{
  border-radius: 19px;
  border-style: none;
  background-color: $color-blue;
  padding: 1rem 2rem;
  font-weight: bold;
  color: $color-white;
  margin-top:1rem;
  text-transform: uppercase;
}
