header{
  background-color: $color-sand;
}

nav{
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background: $color-white;
  z-index: 1;
}

.nav{
  position: relative;
  cursor: pointer;  
  &__top{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5rem;
  }

  &__button{
  max-height:40px;

  &--category{
    max-height:50px;
    }
  }

  &__categories{
    &--imgtxt{

      border-radius: 19px;
      padding:0.6rem;
      p{
        margin: 0 auto;
      }
    }
   
    
  &--img{
    position: relative;
    overflow: hidden;
    width:100%;
    border-radius: 29px;
  }
}
  &__logotype{
  max-height:90px;
   
  @include breakpoint(small-max-m){
    position:relative;
    right:-60px;
   };
 
}

 &__logotype:hover{
  transform: rotate(-50deg);
  transition: $mainTransition;
 }

 &__span{
  @include flexBox(row,center,space-between);
 
  @include breakpoint(small-max-m){
   position:relative;
   right:-60px;
  };

  @include breakpoint(xxsmall-max){
    visibility:hidden;
  }
  &--user{
    div{
      position:relative;
    }
  }
}

 &__user{
   @include breakpoint(small-max-m){
     visibility:hidden;
   };
   @include breakpoint(small-max-m){
    visibility:hidden;
  };
   background-color: $color-green;
   border-radius: 50%;
   padding:0.5rem;
   height:40px;
   width: 40px;
   text-align: center;
   align-items: center;

   .fa-user {
     color: $color-sand;
   }
 }

 &__user:hover{
  background-color: $color-black;

  .fa-user {
    color: $color-white;
  }
 }
}

.headercart{

  &__imgfix{
    height:40px;
  }

  &__showAmount{
   background-color: $color-green;
   padding:0.3rem;
   font-weight: bold;
   color:$color-white;
   border-radius: 50%;
   position:relative;
   top:-10px;
   right:60px;
  }
}