.hero {
  min-width: 100%;
  min-height:600px;
  background-color: transparent;
  background: url("./img/concrete-cracking.png")center/cover no-repeat;
  
  @include flexBox(column, center, center); 

  &__transparentBack{
    background-color: rgba(236, 230, 210, .6);
  }

&__content{
  text-align: center;
  @include flexBox(column, center, space-between);
  padding: 2rem;
} 

&__heading{
  margin-bottom:2rem;
}
}

.categories{
  @include flexBox(column,center,center);

  article {
padding:2rem;

    h2 {
      margin-top:2rem;
      margin-bottom:2rem;
    }
  }
  img {
    padding-bottom: 2rem;
  border-radius:45% 55% 52% 48% / 30% 25% 55% 10%;
  height:400px;
  margin:0px 30px;
  }
  img:hover{
    border-radius:100%;
  }
}

