.hero {
  min-height: calc(100vh - 100px);
  background-color: transparent;
  background: url("./img/concrete-cracking.png")center/cover no-repeat;;
  @include flexBox(column, flex-start, center); 
&__content{
  text-align: center;
  // background: transparent;
  @include flexBox(column, flex-start, space-between);
  padding: 2rem;
} 

&__heading{
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: $mainSpacing;
  margin-bottom:2rem;
}
}

.products__section {
  padding: 4rem 0;
  h2 {
    
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: $mainSpacing;
  }
}
