.hero {
  min-width: 100%;
  min-height:600px;
  background-color: transparent;
  background: url("./img/concrete-cracking.png")center/cover no-repeat;
  
  @include flexBox(column, center, center); 

  &__transparentBack{
    background-color: rgba(236, 230, 210, .6);
  }

&__content{
  text-align: center;
  @include flexBox(column, center, space-between);
  padding: 2rem;
 
} 

&__heading{
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: $mainSpacing;
  margin-bottom:2rem;
}
}

.products__section {
  padding: 4rem 0;
  h2 {
    
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: $mainSpacing;
  }
}
