.hero {
  min-width: 100%;
  min-height:600px;
  background-color: transparent;
  background: url("./img/concrete-cracking.png")center/cover no-repeat;
  
  @include flexBox(column, center, center); 

  &__transparentBack{
    background-color: rgba(236, 230, 210, .6);

    @include breakpoint(small-max-m){
      background-color: rgba(236, 230, 210, .2);
    };
  }

&__content{
  text-align: center;
  @include flexBox(column, center, space-between);
  padding: 2rem;
} 

&__heading{
  margin-bottom:2rem;
}
}

.categories{
  @include flexBox(column,center,center);

  article {
padding:2rem;
@include breakpoint(small-max-m){
  text-align: center;
 };

    h2 {
      margin-top:2rem;
      margin-bottom:2rem;
   
    }
  }

  img {
    width:100%;
    padding-bottom: 2rem;
  border-radius:45% 55% 52% 48% / 30% 25% 55% 10%;
  height:400px;
  margin:0px 30px;
  @include breakpoint(small-max-m){
    width:90%;
  };
  }
  img:hover{
    border-radius:100%;
  }
}

.confirmation{
  &__twocolumns{
    @include flexBox(row, center,space-around);
    @include breakpoint (small-max-m){
      @include flexBox(column,center,space-between)
    }
    
    
  }

  &__container{
    background-color: $color-sand;
    padding:3rem;

    h2{
      margin-top:3rem;
    }
    &--right{
      @include flexBox(column,flex-start,center);
    }
    
  }

  &__productbar{
    color:$color-black;
    line-height:2.2rem;

    p{
      font-size:1.4rem;
      font-weight: bold;
      color:$color-green;
    }
  }
  &__totalamount{
    margin-top:2rem;
    width:80%;
  }

}