.hero {
  min-width: 100%;
  min-height:600px;
  background-color: transparent;
  background: url("./img/concrete-cracking.png")center/cover no-repeat;
  
  @include flexBox(column, center, center); 

  &__transparentBack{
    background-color: rgba(236, 230, 210, .6);

    @include breakpoint(small-max-m){
      background-color: rgba(236, 230, 210, .1);
    };
  }

  &__content{
    text-align: center;
    @include flexBox(column, center, space-between);
    padding: 2rem;
  } 

  &__heading{
    margin-bottom:2rem;
  }
}

.productlist__header{
  padding-top:5rem;
}

.categories{
  @include flexBox(column,center,center);
  article {
    padding:4rem;
    h2 {
        margin-top:2rem;
        margin-bottom:2rem;
    }
  }

  img {
    width:100%;
    padding-bottom: 2rem;
    border-radius:45% 55% 52% 48% / 30% 25% 55% 10%;
    height:400px;
    margin:0px 30px;

    @include breakpoint(small-max-m){
      width:90%;
    };
  }
  img:hover{
    border-radius:100%;
  }
}

.confirmation{

  &__twocolumns{
    min-height:90vh;
    padding-top:1rem;
    @include flexBox(row, flex-start,space-around);
      @include breakpoint (small-max-m){
       @include flexBox(column,center,space-between)
      }
    
  }

  &__container{
    padding:2rem;

    &--right{
      @include flexBox(column,flex-start,center);
      padding:2rem;
    }   
  }

  &__productbar{
    color:$color-black;
    line-height:2.2rem;

    p{
      font-size:1.4rem;
      font-weight: bold;
      color:$color-green;
    }
  }

    &__totalamount{
    margin-top:1rem;
  }
}

.receipt{

  &__container{
    background-image: url("/styles/sass/img/swedish-forest.jpg");
    background-color: $color-green;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh;
    margin:-2rem;
    padding: 2rem;
    @include breakpoint(small-max-m){
      min-height:80vh;  
    }
    @include flexBox(column,center,center);
    
  }
  &__wrapper{
    margin-top:8rem;
    padding:5rem;
    flex-grow: 2;
    @include breakpoint(small-max-m){
      margin-top:1rem;
      padding:rem;
  }}

  &__box{
    height:100%;
    width:100%;
  
    margin: auto;
    @include flexBox(column,flex-start,center);
    background-color: $color-white;
    padding:2rem;
    border-radius: 29px;

    @include breakpoint(small-max-m){
      h2{
        margin-top:1rem;
      }
    }

    button{
      align-self: center;
    }
  }

  &__content{
    @include flexBox(column,flex-start,center);
    padding-bottom:3rem;
    h3{
      line-height:2em;
    }
  }

  &__footer{
    align-self: center;
    width:80%;
    padding:1rem;
    border-radius: 19px;
    background-color: $color-sand;
    text-align: center;
  } 

  &__text{
    margin-bottom:-2rem;
  }

  &__img{
    height:80px;
    border-radius: 19px;
  }

  &__date{
    color: $color-sand;
    text-align: center;
    margin-top:2rem;
  }
}

.individual{

  &__text{
    padding:3rem;
    margin-bottom:-2rem;
    padding-bottom:1rem;
  }

  &__footer{
    background-color: $color-black;
    margin-bottom:-3rem;
    margin-top:8rem;
    padding:3rem;
    padding-bottom:5rem;

    h4{
      color:$color-yellow;
      margin-bottom:0.7rem;
    }

    &--grid{
      width:100%;
      max-width:70%;
      padding-top:2rem;
      display: grid;
      align-items: center;
      grid-template-rows: 2fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 3rem;
      grid-row-gap: 3rem;

      @include breakpoint(medium-tablet-max){
        grid-template-columns: 2fr;
        grid-row-gap: 1rem;
      }
    }
    
    &--moreinfo{
      width:70%;
      padding-top:3rem;
      img{
        width:100%;
        border-radius:29px;
        margin-bottom:2rem;
      }
    }
  }
}