

.onimage{
width:100%;
padding:2em;
position:relative;
background-color: $color-sand;

&__items{
  @include flexBox(column,center,center);

  p{
    text-align: center;
    font-size:28px;
  }
}
  &__button{
    position:relative;
    z-index:7;
  }
}