//buttons (except for navigation bar in header)

.button{
  

  &__usual{
      padding: 1rem 2rem;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: bold;
      background: $color-black;
      color: $color-white;
      border: none;
      transition: $mainTransition;
      cursor: pointer;
      margin-top:1rem;
      border-radius: 19px;

      &--clear{
        padding: 1rem 2rem;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: bold;
        background:  $color-white;
        color: $color-black;
        border: none;
      
        cursor: pointer;
        margin-top:1rem;
        border-radius: 19px;
      }
      &--clear:hover{
        background: $color-yellow;
        transition: $mainTransition;
      }
  }


  &__usual:hover{
    transition: $mainTransition;
    background: $color-green;
    color: $color-yellow;
  }

  &__span{
    @include flexBox(column,center,center)
  }
}

.dropdown--close{
  cursor: pointer;
    height: 30px;
}


.addToCartBtn{
  padding: 1rem;
  background-color: $color-black;
  color: $color-white;
  text-transform: uppercase;
      font-size: 1rem;
      font-weight: bold;
      border: none;
      transition: $mainTransition;
      cursor: pointer;
      margin-top:1rem;
      border-radius: 19px;
  
}
.addToCartBtn:hover{
  background-color: $color-green;
  font-size: 1.3rem;
}




