//buttons


.button{

  &__hero{
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: $mainSpacing;
  font-size: 1rem;
  font-weight: bold;
  background: $color-green;
  color: $color-white;
  border: none;
  transition: $mainTransition;
  cursor: pointer;
  margin-top:2rem;
  }

}

.headercart {
  position:relative;
  z-index:7;
  top:-30px;
  left:-50px;
  background: $color-green;
  padding: 0 5px;
  border-radius: 30%;
  color:  $color-white;
  text-align: center;
}

.headercart__button {
  position: relative;
  cursor: pointer;
}