.dropdown{
  display:none;
  
  &--close{
    cursor: pointer;
    img {
      height: 30px;
    }
  }
}

//menu
.mainmenu__mobile{
  background-color: $color-white;
  width: 100%;
  display: block;
  position: absolute;
  z-index: 99;
  right: 0;
  top: 0;
  padding: 30px 20px;    

li {
  display: block;
  margin-bottom: 10px;
  padding:0.2rem;
  a {
    font-size: 22px;
    font-weight:bold;
    display: block;
    padding: 0px 0;
    text-align: center;
    text-decoration: none;
    color: $color-green;
  }
  
  a:visited{
    color:$color-green;
  }
  
  a:hover{
    color: $color-black;
    text-transform: uppercase;
  }
}



}

.list__nested{
  padding-top:1rem;
  width:50%;
  margin: 0 auto;
  padding-bottom:1rem;

  li {
  margin-bottom:-3px;
  }

  &--mother{
    font-size: 22px;
    color: $color-green;
    font-weight:bold;
    display: block;
    padding: 0px 0;
    text-align: center;
    margin-bottom: 20px;
  }

  &--motherhead:hover{
    color: $color-black;
    cursor: pointer;
    text-transform: uppercase;
  }

  &--mother:visited{
    color:$color-green;
  }
  &--child{
  width:80%;

  p{
    margin-top:0.5rem;
    text-transform:uppercase;
    
  }
    p:hover{
    text-decoration: underline;
    color: $color-black;
    
   
  }
  
  }
  
}


//*------------
