//*----------search inputs

.search{

  &__dropdown{
    position:fixed;
    top:70px;
    left:100px;


    img {
      height:32px;
      background-color: $color-yellow;
      border-radius: 50%;
      padding:0.4rem;
    }

    label {
      visibility: hidden;
      width:3%;
    }

    input {
      padding:0.4rem;
      text-transform: capitalize;
      font-weight: bold;
      border-color: $color-green;
      border-radius: 29px;
    }
  };

  &__wrapper{
    @include flexBox(row,center,center);
 
    img {
      height:32px;
      background-color: $color-yellow;
      border-radius: 50%;
      padding:0.4rem;
      @include breakpoint(xxsmall-max-m){
        visibility:hidden;
      };
    }
  }

  &__img{
    margin-left:1rem;
    border-radius: 50%;
    width:40px;
    height:40px;
    padding:4px;
  }

  &__navigation{
    @include flexBox(row,center,center);

  

    img {
      height:30px;
      background-color: $color-yellow;
      border-radius: 50%;
      padding:0.4rem;
     
    }

    label{
      visibility:hidden;
      width:1%;
    }

    input{
      border-color: $color-green;
      border-radius: 29px;
      font-weight: bold;
      @include breakpoint(small-max){
      width:14%;}
      padding:0.4rem;
    }
   
  }
 
}

.form{

  &__all{
    margin-top:2rem;
    @include flexBox(column,center,center);

    input{
      padding:0.4rem;
      border-radius: 9px;
      border:none;
      background-color: $color-sand;
      margin:0.4rem;
    }
    ::placeholder{
      font-weight: bold;
    }
    label {
      font-weight: bold;
    }
}

&__create--buttons{
  margin-top:1rem;
  @include flexBox(column,center,space-between);
}
&__login{
  &--inputs{
  margin-bottom:1rem;
}
}

}