@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.product__img--container {
  position: relative;
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #ece6d2;
  color: #1b1b1b;
}

.text {
  font-family: "Roboto", Arial, sans-serif;
}

.text--bold {
  font-weight: bold;
}

.text--cursive {
  font-style: italic;
}

.text--xl {
  font-size: 72px;
  font-size: 4.5rem;
}

.text--l {
  font-size: 34px;
  font-size: 2.125rem;
}

@media only screen and (min-width: 768px) {
  .text--l {
    font-size: 54px;
    font-size: 3.375rem;
    line-height: 60px;
  }
}

.text--m {
  font-size: 48px;
  font-size: 3rem;
}

.text--s {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 42px;
}

@media only screen and (min-width: 768px) {
  .text--s {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 28px;
  }
}

.text--xs {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 30px;
}

@media only screen and (min-width: 768px) {
  .text--xs {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 22px;
  }
}

.text--xxs {
  font-size: 16px;
  font-size: 1rem;
  line-height: 25px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", Arial, sans-serif;
}

h1 {
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 55px;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 72px;
    font-size: 4.5rem;
    line-height: 72px;
  }
}

h2 {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 48px;
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 64px;
    font-size: 4rem;
    line-height: 74px;
  }
}

h3 {
  font-size: 48px;
  font-size: 3rem;
}

h4 {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 28px;
}

@media only screen and (min-width: 768px) {
  h4 {
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 42px;
  }
}

h5 {
  font-size: 24px;
  font-size: 1.5rem;
}

h6 {
  font-size: 16px;
  font-size: 1rem;
}

.heading--white {
  color: #fbfbfb;
  font-weight: bold;
}

.heading--alt {
  font-family: "Nunito", Verdana, sans-serif;
}

.button__hero {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-weight: bold;
  background: #225E39;
  color: #fbfbfb;
  border: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
  margin-top: 2rem;
}

.button__cart--clear {
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  background: #2798d8;
  color: #fbfbfb;
  border: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
  margin-top: 2rem;
}

.button__cart:hover {
  background: transparent;
}

.headercart {
  position: relative;
  cursor: pointer;
}

.headercart__imgfix {
  height: 40px;
  margin-top: 10px;
}

.headercart__showAmount {
  position: relative;
  z-index: 7;
  top: -30px;
  left: -30px;
  background: #225E39;
  padding: 0 5px;
  border-radius: 30%;
  color: #fbfbfb;
  text-align: center;
}

.drop-down {
  display: none;
}

.mainmenu__mobile {
  background-color: #f2ea03;
  color: #225E39;
  width: 100%;
  display: block;
  position: absolute;
  z-index: 99;
  right: 0;
  top: 74px;
  padding: 30px 20px;
}

.mainmenu__mobile li {
  display: block;
  margin-bottom: 20px;
  color: #1b1b1b;
}

.mainmenu__mobile a {
  font-size: 38px;
  font-weight: bold;
  display: block;
  text-transform: capitalize;
  padding: 0px 0;
  text-align: center;
}

.mainmenu__mobile a:hover {
  color: #2798d8;
  text-transform: uppercase;
}

.active {
  color: #f2ea03;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.products__grid {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.product__img {
  border-radius: 19px;
  border-style: solid;
  display: block;
  width: 100%;
  min-height: 12rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.product__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__items--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.8rem;
}

.product__items--row h4 {
  position: relative;
  right: 0px;
  margin-left: 30px;
}

.button__grid {
  border-radius: 19px;
  border-style: none;
  background-color: #2798d8;
  padding: 1rem 2rem;
  font-weight: bold;
  color: #fbfbfb;
  margin-top: 1rem;
  text-transform: uppercase;
}

.productsordered__grid {
  width: 50vw;
  margin: 0 auto;
  max-width: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.productsordered__img {
  border-radius: 19px;
  border-style: solid;
  display: block;
  width: 100%;
  min-height: 12rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.productsordered__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productsordered__items--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.8rem;
}

.productsordered__items--row h4 {
  position: relative;
  right: 0px;
  margin-left: 30px;
}

.categories__grid {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-column-gap: 0.1rem;
  grid-row-gap: 0.1rem;
}

header {
  background-color: #ece6d2;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fbfbfb;
  z-index: 1;
}

.nav {
  position: relative;
  cursor: pointer;
}

.nav__top {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2.5rem;
}

.nav__button {
  max-height: 40px;
}

.nav__logotype {
  max-height: 90px;
}

.nav__logotype:hover {
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.hero {
  min-height: calc(100vh - 100px);
  background-color: transparent;
  background: url("./img/concrete-cracking.png") center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
}

.hero__heading {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}

.products__section {
  padding: 4rem 0;
}

.products__section h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.cart__transparentBack {
  visibility: visible;
}

.cart__show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.cart__hidden {
  visibility: hidden;
}

.cart__container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background: rgba(34, 94, 57, 0.7);
  z-index: 2;
}

.cart__content {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  overflow: scroll;
  z-index: 10;
  background: #ece6d2;
  padding: 1.5rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.cart__content h2 {
  text-align: center;
  color: #225E39;
}

.cart__item {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.cart__item img {
  width: 75px;
  height: 75px;
}

.cart__item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.cart__item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}

.cart--amount {
  text-align: center;
}

.cart--remove {
  color: #1b1b1b;
  cursor: pointer;
}

.cart--close {
  cursor: pointer;
}

.cart--close img {
  height: 30px;
}

.cart__footer {
  margin-top: 2rem;
  text-align: center;
}

.cart__footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.fa-chevron-up,
.fa-chevron-down {
  color: #1b1b1b;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */