@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.hidden {
  display: none;
}

.show {
  display: block;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (min-width: 991px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.centered {
  text-align: center;
  padding: 2rem;
}

.container--margin {
  margin-top: 5rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #ece6d2;
  color: #1b1b1b;
  font-family: "Nunito", Verdana, sans-serif;
}

.text--primary {
  font-family: "Nunito", Verdana, sans-serif;
}

.text--second {
  font-family: "Roboto", Arial, sans-serif;
}

.text--green {
  color: #225e39;
}

.text--uppercase {
  text-transform: uppercase;
}

.text--centered {
  text-align: center;
}

.text--bold {
  font-weight: bold;
}

.text--cursive {
  font-style: italic;
}

.text--xl {
  font-size: 72px;
  font-size: 4.5rem;
}

.text--l {
  font-size: 50px;
  font-size: 3.125rem;
}

.text--m {
  font-size: 42px;
  font-size: 2.625rem;
}

.text--s {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 36px;
}

@media only screen and (max-width: 768px) {
  .text--s {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 28px;
  }
}

.text--xs {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 30px;
}

@media only screen and (max-width: 768px) {
  .text--xs {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 22px;
  }
}

.text--xxs {
  font-size: 16px;
  font-size: 1rem;
  line-height: 25px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", Arial, sans-serif;
}

h1 {
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 55px;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 72px;
    font-size: 4.5rem;
    line-height: 72px;
  }
}

h2 {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 48px;
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 64px;
    font-size: 4rem;
    line-height: 74px;
  }
}

h3 {
  font-size: 30px;
  font-size: 1.875rem;
}

h4 {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 28px;
}

h5 {
  font-size: 24px;
  font-size: 1.5rem;
}

h6 {
  font-size: 16px;
  font-size: 1rem;
}

.heading--white {
  color: #fbfbfb;
  font-weight: bold;
}

.heading--alt {
  font-family: "Nunito", Verdana, sans-serif;
}

.button__hero {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-weight: bold;
  background: #225e39;
  color: #fbfbfb;
  border: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
  margin-top: 2rem;
}

.button__hero:hover {
  border-radius: 19px;
  background-color: #2798d8;
}

.button__dropdown {
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  background: #2798d8;
  color: #fbfbfb;
  border: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 19px;
}

.button__dropdown:hover {
  background: #225e39;
}

.button__span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dropdown--close {
  cursor: pointer;
  height: 30px;
}

.addToCartBtn {
  padding: 1rem;
  background-color: #1b1b1b;
  color: #fbfbfb;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 19px;
}

.addToCartBtn:hover {
  background-color: #225e39;
  font-size: 1.3rem;
}

.dropdown {
  display: none;
}

.dropdown--close {
  cursor: pointer;
}

.dropdown--close img {
  height: 30px;
}

.mainmenu__mobile {
  background-color: #fbfbfb;
  width: 100%;
  display: block;
  position: absolute;
  z-index: 99;
  right: 0;
  top: 0;
  padding: 30px 20px;
}

.mainmenu__mobile li {
  display: block;
  margin-bottom: 10px;
  padding: 0.2rem;
}

.mainmenu__mobile a {
  font-size: 22px;
  font-weight: bold;
  display: block;
  padding: 0px 0;
  text-align: center;
  text-decoration: none;
}

.mainmenu__mobile a:visited {
  color: #225e39;
}

.mainmenu__mobile a:hover {
  color: #2798d8;
  text-transform: uppercase;
}

@media only screen and (min-width: 991px) {
  .list__nested {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.list__nested li {
  margin-bottom: -3px;
}

.list__nested li:hover {
  background-color: #ece6d2;
  border-radius: 40px;
  font-size: 1.4rem;
  padding: 0rem 1rem;
}

.list__nested--mother {
  font-size: 22px;
  color: #225e39;
  font-weight: bold;
  display: block;
  padding: 0px 0;
  text-align: center;
  margin-bottom: 20px;
}

.list__nested--mother:hover {
  color: #2798d8;
  cursor: pointer;
  text-transform: uppercase;
}

.list__nested--mother:visited {
  color: #225e39;
}

.products__individual {
  width: 90vw;
}

.products__grid {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(90%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  margin-bottom: 8rem;
}

.products__grid--all {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;
}

.product__img {
  border-radius: 29px;
  width: 100%;
  min-height: 12rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.product__img--container {
  position: relative;
  overflow: hidden;
}

.product__img--container img {
  border-radius: 29px;
}

.product__img--list:hover {
  border-radius: 35% 55% 52% 48% / 30% 25% 55% 30%;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.product__box {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__box button {
  border-radius: 19px;
  border-style: none;
  padding: 1rem 2rem;
  font-weight: bold;
  color: #f2ea03;
  margin-top: 1rem;
  text-transform: uppercase;
}

.product__box button:hover {
  color: #f2ea03;
}

.login--name {
  color: #225e39;
}

.login__container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background: rgba(34, 94, 57, 0.7);
  z-index: 2;
}

.login__dropdown {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 50%;
  overflow: scroll;
  z-index: 10;
  background: #ece6d2;
  padding: 1.5rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media only screen and (min-width: 991px) {
  .login__dropdown {
    top: 60px;
    width: 30%;
  }
}

.login__dropdown--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  background-color: #ece6d2;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fbfbfb;
  z-index: 1;
}

.nav {
  position: relative;
  cursor: pointer;
}

.nav__top {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2.5rem;
}

.nav__button {
  max-height: 40px;
}

.nav__logotype {
  max-height: 90px;
}

.nav__logotype:hover {
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.nav__span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__user {
  background-color: #225e39;
  border-radius: 50%;
  padding: 0.5rem;
  height: 40px;
  width: 40px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__user .fa-user {
  color: #ece6d2;
}

.nav__user:hover {
  background-color: #1b1b1b;
}

.nav__user:hover .fa-user {
  color: #fbfbfb;
}

.headercart__imgfix {
  height: 40px;
}

.headercart__showAmount {
  background-color: #225e39;
  padding: 0.3rem;
  font-weight: bold;
  color: #fbfbfb;
  border-radius: 50%;
  position: relative;
  top: -10px;
  right: 60px;
}

.cart__transparentBack {
  visibility: visible;
}

.cart__show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.cart__hidden {
  visibility: hidden;
}

.cart__container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background: rgba(34, 94, 57, 0.7);
  z-index: 2;
}

.cart__content {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 10;
  background: #ece6d2;
  padding: 1.5rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media only screen and (min-width: 991px) {
  .cart__content {
    width: 60%;
  }
}

.cart__content h2 {
  text-align: center;
  color: #225e39;
}

.cart__item {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.cart__item img {
  width: 75px;
  height: 75px;
}

.cart__item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.cart__item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}

.cart--amount {
  text-align: center;
}

.cart--remove {
  color: #1b1b1b;
  cursor: pointer;
}

.cart--close {
  cursor: pointer;
}

.cart--close img {
  height: 30px;
}

.cart__footer {
  margin-top: 2rem;
  text-align: center;
}

.cart__footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.fa-chevron-up,
.fa-chevron-down {
  color: #1b1b1b;
  cursor: pointer;
}

.hero {
  min-width: 100%;
  min-height: 600px;
  background-color: transparent;
  background: url("./img/concrete-cracking.png") center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__transparentBack {
  background-color: rgba(236, 230, 210, 0.6);
}

.hero__content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
}

.hero__heading {
  margin-bottom: 2rem;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categories article {
  padding: 2rem;
}

.categories article h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.categories img {
  padding-bottom: 2rem;
  border-radius: 45% 55% 52% 48% / 30% 25% 55% 10%;
  height: 400px;
  margin: 0px 30px;
}

.categories img:hover {
  border-radius: 100%;
}
/*# sourceMappingURL=style.css.map */