
.hidden {
  display: none;
}

.show{
  display: block;
}

.row{
  @include breakpoint(medium-tablet-min)
  { 
    @include flexBox(row,center,center);
  }
  @include flexBox(column,center,space-between);

  &--mobilesame{
    @include flexBox(row,center,flex-start)
  }

 }

.centered{
  text-align: center;
  padding:2rem;
}

.container{
  &--margin{
    margin-top:5rem;
  }
  &__margin{
    --bottom{
      margin-bottom:3rem;
    }
    --top{
      margin-top:2rem;
    }
  }
}

// .none{
//   display:none;
// }

.pointer{
  cursor: pointer;
}

