
.hidden {
  display: none;
}

.show{
  display: block;
}

.row{
  @include breakpoint(medium-tablet-min)
  { 
    @include flexBox(row,center,center);
  }
  @include flexBox(column,center,space-between);

  &--mobilesame{
    @include flexBox(row,center,flex-start)
  }

 }

.centered{
  text-align: center;
  padding:2rem;
}

.container{
  &--margin{
    margin-top:5rem;
  }
}

.none{
  display:none;
}


.outer{
  position: relative;
  @include breakpoint(small-max-m) {
  }
  width:100%;
}

.inner{
  position: absolute;
  top:280%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index:2;
  }

.pointer{
  cursor: pointer;
}

.display{
  visibility: visible;
}