
.hidden {
  display: none;
}

.show{
  display: block;
}

.row{
  @media only screen and (min-width: 991px) {
    display:flex;
    flex-direction: row;
  }
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
 }
<<<<<<< HEAD

=======
>>>>>>> fdd98f1f5bb7c72afe4103d868f9cb84c05f40a6

.centered{
  text-align: center;
  padding:2rem;
}

.container{
  &--margin{
    margin-top:3rem;
  }
}